# ignore everything
/*
/*/

# ... but these:
!/nvim
!/vimrc
!/.latexmkrc
!/.p10k.zsh

!/i3/
!/polybar/
!/variety/variety.conf
!/ranger/
ranger/__pycache__/
ranger/plugins/__pycache__/*
ranger/colorschemes/__pycache__/*
ranger/folders.conf
!/kitty/
!/alacritty/
!/fish/
!/neofetch/
!/omf/
!/pkg-backup/
!/compton.conf
!/scripts/
!/.Xmodmap
!/.Xmodmap-cn
!/.zshrc
!/.gitignore
#!/llpp.conf
!/README.md
!/README_cn.md
!/vimium-options.json
!/zsh
!/zathura
!/i3status/
/mutt/
!/my-packages.txt
!/newsboat/
!/jesseduffield/
/jesseduffield/lazygit/*
!/jesseduffield/lazygit/config.yml
!/.tmux.conf
!/tmux/
ranger/colorschemes/__init__.pyo
ranger/colorschemes/default.pyo
ranger/plugins/__init__.pyo
ranger/plugins/devicons.pyo
ranger/plugins/devicons_linemode.pyo
ranger/plugins/ranger_devicons
ranger/trash_history
!/pudb/
/pudb/*
!/pudb/pudb.cfg
!/bin
!/lmk

jesseduffield/lazynpm/state.yml
!Brewfile

!/joplin/
/joplin/log.txt
/joplin/resources/
/joplin/database.sqlite
!/thefuck/
!/karabiner/
!/joshuto/
!/skhd/
!/yabai/

/clash/*
clash/cache.db
